NLLB_MODEL_NAME=facebook/nllb-200-distilled-600M
NLLB_SRC_LANG=arb_Arab
NLLB_DEFAULT_TARGET_LANGUAGE=ru
NLLB_API_KEY_ENABLED=false
NLLB_API_KEY=change-me
NLLB_MODEL_CACHE_DIR=/app/storage/huggingface
NLLB_TRANSFORMERS_OFFLINE=0
NLLB_MAX_LENGTH=1024
STORAGE_PATH=./storage
